*{
  box-sizing: border-box;
  margin: 0;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }
  
  .slider-item {
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    overflow: hidden;
  }
  
  .slider-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .slider-item img:hover{
    opacity: 75%;
  }
  
  .slider-prev,
  .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5); /* Added background color with transparency */
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Added transition effect */
    font-size: 2rem;
    border-radius: 50%;
  }
  
  .slider-prev:hover,
  .slider-next:hover {
    background-color: rgba(255, 255, 255, 1); /* Changed background color on hover */
  }
  
  .slider-prev {
    left: 10px;
  }
  
  .slider-next {
    right: 10px;
  }
  